
body {
   background: var(--couleur-dominante);
   margin: 0;
   padding: 0;
}
a:-webkit-any-link {
   cursor: pointer;
   color: black;
}



.Main__intro {
   padding: 15px;
   text-align: left;
   font-family: var(--font-sans-serif-2);
}

.Main__titre {
   padding: 50px;
   font-family: var(--font-cursive);
   text-size-adjust: var(--texte);
}

.Main__soustitre {
   padding: 20px;
   font-family: var(--font-sans-serif);
   text-size-adjust: var(--sous-titre);


}

.Main__image{
   
   height: auto;
   display: block; 
   top: -350px;
}
.article__titre{
   background-color: var(--couleur-tonique-2);
   border-radius: 10px;
   padding:5px;
   position: 
   top: -360px;
}
.Main__description{
   position: 
   top: -360px;
}
.Main__lien{
      position: 
      margin -360px;
}


h1 {
   margin: 0;
}


h3{
   font-family: var(--font-sans-serif);
   font-size: var(--sous-titre);
   font-weight: 500;
   
}
p{
   font-family: var(--font-sans-serif-2);
   font-size: var(--texte);
}
.link{
   font-family: var(--font-sans-serif);
   font-size: var(--button);
}
.vert{
   background-color: var(--couleur-tonique-2);
   border-top-right-radius: 80px;
   margin-top: 5px;
   margin-bottom: 10px;
}
