.Footer{
    width: 100%;
    background: linear-gradient(rgba(223, 144, 144, 1),rgba(172, 203, 134, 1));
    padding-inline: 10px;
}

.Footer__fondu{
    width: 105.5%;

    position:absolute;
    z-index: 2;
}

.Footer li{
    list-style-type: none;
}

.Footer__menu__item{
   
}
