.Footer{
    width: 100%;
    background: linear-gradient(rgba(223, 144, 144, 1),rgba(172, 203, 134, 1));
    margin-top: 125px;
}

.Footer__fondu{
    width: 100%;
    margin-top: 30px;
    position:absolute;
    z-index: 10;
}

.Footer li{
    list-style-type: none;
    ;
}