.Footer{
    
    background: linear-gradient(rgba(223, 144, 144, 1),rgba(172, 203, 134, 1));
    padding-inline: 10px;
    height: 550px;
}

.Footer__fondu{
    
    position: relative;
    top: 5px;
    z-index: 2;
}

.Footer li{
    list-style-type: none;
}

.Footer__menu,
h3,
.Footer__menu__item,
a,
p{
    position: relative;
    top: 30px; 
}
